In [6]:
import numpy as np
import pandas as pd

In [7]:
samples = pd.DataFrame(np.full((8, 12), ""), columns=[f"{i+1}" for i in range(12)], index=[f"{chr(65+i)}" for i in range(8)])
samples

  1 2 3 4 5 6 7 8 9 10 11 12
A
B
C
D
E
F
G
H

In [21]:
row = [chr(65+i) for i in range(8)] * 12
print(row)
col = np.repeat(range(1, 13), 8)
print(col)

df = pd.DataFrame(np.full((96, 2), ""), columns=["sample", "primers"], index=[f"{r}{c}" for r, c in zip(row, col)])

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
[ 1  1  1  1  1  1  1  1  2  2  2  2  2  2  2  2  3  3  3  3  3  3  3  3
  4  4  4  4  4  4  4  4  5  5  5  5  5  5  5  5  6  6  6  6  6  6  6  6
  7  7  7  7  7  7  7  7  8  8  8  8  8  8  8  8  9  9  9  9  9  9  9  9
 10 10 10 10 10 10 10 10 11 11 11 11 11 11 11 11 12 12 12 12 12 12 12 12]

In [59]:
df = pd.read_csv("/Users/angel/Library/CloudStorage/Box-Box/Projects/dnajc6 v naglu/2024-04-19 One True Family/genotyping/20240515_dvn_d-1.33-1.40/metadata.csv", dtype=str, keep_default_na=False)
df["pos"] = df["row"] + df["col"]
df.set_index("pos", inplace=True)
df

    col row sample primers
pos
A1    1   A     33  dnajc6
B1    1   B     34  dnajc6
C1    1   C     35  dnajc6
D1    1   D     36  dnajc6
E1    1   E     37  dnajc6
..   ..  ..    ...     ...
D12  12   D
E12  12   E
F12  12   F
G12  12   G
H12  12   H

[96 rows x 4 columns]

In [45]:
for idx, row in df.iterrows():
    # print(col)
    print(row.loc["primers"])

naglu
naglu
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
naglu
naglu
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
naglu
naglu
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
naglu
naglu
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
naglu
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
naglu
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
naglu
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
naglu
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan

In [80]:
# np.unique(df["primers"].values)

df["primers"].unique()

array(['dnajc6', ''], dtype=object)

In [2]:
x = ["font-size: 8pt;"]
" ".join(x)

'font-size: 8pt;'